<h1>My Profile</h1>
<p>Email: <%= current_user.email %></p>
<p><%= link_to "Edit Profile", edit_user_registration_path %></p>

<p style="color: green"><%= notice %></p>

<p><%= link_to "Create new event", new_event_path %></p>

<div id="events">
  <h2>List of events created by you:</h2>
  <% @user.created_events.each do |event| %>
    <p>
      <%= render event %>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<div id="events">
  <h2>List of events you are attending:</h2>

  <h3>Past Events</h3>
  <% @user.attended_events.each do |event| %>
    <p>
      <%= render event %>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>

  <h3>Upcoming Events</h3>
  <% @user.attended_events.each do |event| %>
    <p>
      <%= render event %>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>