<div id="<%= dom_id event %>">
  <%= image_tag event.featured_image if event.featured_image.attached? %>

  <p>
    <h3><%= event.title %></h3>
  </p>
  
  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Created by: </strong>
    <%= event.creator.username %>
  </p>

</div>
