<p style="color: green"><%= notice %></p>

<% content_for :title, "Events" %>

<h1>Events</h1>

<% if user_signed_in? %>
  <p><%= link_to "New event", new_event_path %></p>
<% end %>

<h3>Past Events</h3>
<div id="events">
  <% if @events.past.present? %>
    <% @events.past.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <% else %>
    <p>No past events</p>
  <% end%>
</div>

<h3>Upcoming Events</h3>
<div id="events">
  <% if @events.upcoming.present? %>
    <% @events.upcoming.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  <% else %>
    <p>No upcoming events</p>
  <% end%>
</div>


