<p><%= link_to "Back to events", events_path %></p>

<h1>Event Details</h1>

<p style="color: green"><%= notice %></p>

<div>
  <%= render @event %>
  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
</div>

<div>
  <% if user_signed_in? %>
    <% if (@event.creator_id == current_user.id)%>
      <p><%= link_to "Edit this event", edit_event_path(@event) %></p>
      <p><%= button_to "Destroy this event", @event, method: :delete %></p>
    <% else %>
      <% if @attendance.present? %>
        <p><%= button_to "Cancel attendance", event_attendance_path(@event, @attendance), method: :delete %> </p>
      <% else %>
        <p><%= button_to "Attend this event", event_attendances_path(@event), method: :post %></p>
      <% end %>
    <% end %>
  <% end %>
</div>

<div>
  <h2>List of attendees for this event:</h2>
  <% @event.attendances.each do |attendance| %>
    <p><%= attendance.attendee.username %></p>
  <% end %>
</div>
